.list {
  margin-top: 120px;
}
.list input:hover,
.list button:hover,
.list input:focus,
.list button:focus,
.list input:active,
.list button:active,
.list input:target,
.list button:target {
  box-shadow: none;
  outline: none !important;
  background-color: white;
}
.list__input {
  margin-bottom: 10px;
}
.list__input .form__input:focus {
  border: 1px solid #ccc;
}
.list__item {
  min-height: 66px;
  margin-bottom: 5px;
  cursor: move;
  transition: border 0.2s ease, background 0.1s ease-in;
}
.list__item--delete {
  background: #ea4335;
}
.list__item--delete .list__content {
  color: white;
}
.list__item--check {
  border-bottom: 3px solid #34a853;
}
.list__item--check .list__content {
  text-decoration: line-through;
}
.list__item:hover .item__opts {
  opacity: 1;
}
.list__content {
  margin: 10px 0;
}
.list .btn {
  transition: all .2s ease;
}
.list .btn--check {
  color: #34a853;
  border: 1px solid #34a853;
}
.list .btn--check:hover {
  color: white;
  background: #34a853;
}
.list .btn--delete {
  color: #ea4335;
  border: 1px solid #ea4335;
}
.list .btn--delete:hover {
  color: white;
  background: #ea4335;
}
.list .item__opts {
  opacity: 0;
  position: relative;
  transition: opacity 0.2s ease-in-out;
}
